.pomodoroLogger {
    font-size: 16pt;
    font-family: Andale Mono, monospace;
}

.pomodoroLogger > div {
    margin-bottom: 4px;
}

#buttonDiv {
    padding-top: 8px;
}

#doneButton {
    border: 0;
    background: #666666 url(images/button-overlay.png) repeat-x; 
    display:-moz-inline-stack; /* for FF2*/
    display:inline-block; /* normal browsers */
    zoom:1; /* for IE (hasLayout true) */
    *display:inline; /* for IE */ 
    padding: 5px 10px 6px; 
    color: #fff; 
    text-decoration: none;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);

    cursor: pointer;
    font-weight: bold; 
    line-height: 1; 
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}

#doneButton:hover {
    background-color: #111;
    color: #fff;
}

#doneButton:active {
    top: 1px;
}